@media (max-width: 575.98px) {

    .headline, .footer {

        height: 300px;
        text-align: center;
    
    }

    .description, .footer p {

        width: 90vw;
    
    }

    section {

        height: 600px;
    
    }
    
    section:nth-of-type(2) {

        height: 400px;
    
    }

    section:nth-of-type(4) {

        background-image: url(/imgs/selecao-brasileira2.jpg);
    
    }

}

@media (min-width: 576px) and (max-width: 991.98px) {

    .headline {

        text-align: center;

    }

    .description {

        width: 95vw;
    
    }

    section:nth-of-type(4) {

        background-image: url(/imgs/selecao-brasileira2.jpg);
    
    }

}

@media (min-width: 992px) and (max-width: 1300px) {

    .description {

        width: 98vw;
    
    }

}